Apps/ServoDial/NodeRed.json
[{"id":"139aac9c.ec6553","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"e62bd892.19d428","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"VideoFeedback"},{"id":"ede8e91.f121718","type":"mqtt in","name":"House A - Mainmeter","topic":"Testsites/Appartments/ApparmentA/mainmeter/meterevent","broker":"e62bd892.19d428","x":239.27272033691406,"y":559.3636474609375,"z":"4fd02a87.b02fd4","wires":[["876cc2f.f78934"]]},{"id":"f1fc2948.0e03d8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":667,"y":539,"z":"4fd02a87.b02fd4","wires":[]},{"id":"876cc2f.f78934","type":"function","name":"Extract power","func":"obj = JSON.parse(msg.payload);\nmsg.payload = obj.power\nmsg.type = \"Data\"\nreturn msg;","outputs":1,"valid":true,"x":431,"y":515,"z":"4fd02a87.b02fd4","wires":[["fd29388c.02d6c8"]]},{"id":"fd29388c.02d6c8","type":"range","minin":"0","maxin":"4000","minout":"180","maxout":"5","action":"clamp","round":true,"name":"Rescale","x":522,"y":618,"z":"4fd02a87.b02fd4","wires":[["fff1649a.000e98","f1fc2948.0e03d8"]]},{"id":"fff1649a.000e98","type":"mqtt out","name":"","topic":"/device/servo","qos":"","retain":"","broker":"139aac9c.ec6553","x":804,"y":609,"z":"4fd02a87.b02fd4","wires":[]},{"id":"25330310.daccfc","type":"inject","name":"","topic":"","payload":"180","payloadType":"string","repeat":"","crontab":"","once":false,"x":492,"y":694,"z":"4fd02a87.b02fd4","wires":[["fff1649a.000e98"]]}]